@media (min-width: 300px) and (max-width: 600px) {
  .logo {
    font-size: 20px;
    color: white;
  }
  .signin {
    width: 170px;
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
  }
  .logout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
  }
}
@media (min-width: 601px) {
  .logo {
    font-size: 40px;
    color: white;
  }
  .signin {
    width: 250px;
    display: flex;
    margin-right: 40px;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  }
  .logout {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  font-family: Proxima Nova;
  align-items: center;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
