@media (min-width: 300px) and (max-width: 600px) {
  .OfferText {
    font-size: 24px;
  }
  .Offer {
    width: 100%;
    color: #ffffff;
    height: 80%;
  }
}
@media (min-width: 601px) {
  .OfferText {
    font-size: 50px;
    text-align: center;
  }
  .Offer {
    width: 95vw;
    color: #ffffff;
    position: absolute;
    bottom: 25%;
  }
}
